# Python
*__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.env
.venv/
venv/

# IDE/OS
.vscode/
.idea/
.github/
.DS_Store
Thumbs.db

# Build/packaging
build/
dist/
*.spec

# Cache
*.log
.cache/
.mypy_cache/
.pytype/
.ipynb_checkpoints/

# Dati locali vari
*.csv
